doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="style/mail.css")
        title Scambialibri.it
    
    body
        h1 Scambialibri
        hr
        .center
            h2 Completamento transazione
            p Un altro utente ti ha invitato a segnalare come completata la transazione del libro "{{book}}".
            p Entra nel sito Web e clicca sul tasto "Completa".
        hr.footer
        .footer
            p Scambialibri ® 2017-2018