doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="style/mail.css")
        title Scambialibri.it
    
    body
        h1 Benvenuto su Scambialibri.it!
        h2 Un altro utente ti ha invitato a segnalare come completata la transazione del libro "{{book}}".
        h2 Entra nel sito Web e clicca sul tasto "Completa".