extends _partials/main

block title
    h2 Completamento transazione

block body
    p Un altro utente ti ha invitato a segnalare come completata la transazione del libro "{{book}}".
    p Entra nel sito Web e clicca sul tasto "Completa".