extends _partials/main

block title
    h2 Benvenuto in LoScambialibri.it!

block body
    p Clicca sul link sottostante per confermare il tuo account:
    a.button(href="{{baseDomain}}/onboarding?token={{token}}", target="_blank") Clicca!
    p Una volta confermato l'account potrai procedere ad acquistare e vendere i tuoi libri.