doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="style/mail.css")
        title Scambialibri.it
    
    body
        h1 Benvenuto su Scambialibri.it!
        h2 Clicca sul link qui sotto per entrare
        a(href="{{baseDomain}}/onboarding?token={{token}}", target="_blank") Clicca!