extends _partials/main

block title
    h2 Password dimenticata

block body
    p Hai chiesto un cambio della password, clicca sul link sottostante per procedere:
    a.button(href="{{baseDomain}}/forgot-password?token={{token}}", target="_blank") Clicca qui
    p Se non hai richiesto un cambio della password ignora questa e-mail.