extends _partials/main

block title
    h2 Nuova transazione

block body
    p La tua transazione per la vendita del libro "{{book}}" è stata associata ad un compratore.
    p Controlla su Scambialibri.it!