extends _partials/main

block title
    h2 Nuovo messaggio

block body
    h2 Nuovo messaggio
    p Hai ricevuto un nuovo messaggio riguardo alla transazione del libro "{{book}}":
    p.message {{message}}