doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="style/mail.css")
        title Scambialibri.it
    
    body
        h1 Scambialibri.it
        h2 Nuova transazione
        p La tua transazione per la vendita del libro "{{book}}" è stata associata ad un compratore. Controlla su Scambialibri.it!