extends _partials/main

block title
    h2 Richiesta di risposta

block body
    p Un utente ti invita a rispondere al suo messaggio riguardo la transazione del libro "{{book}}"!
    p Nel caso non ci fosse risposta entro 24h la transazione verrà automaticamente annullata.