doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="style/mail.css")
        block head
            title LoScambialibri.it
    
    body
        h1
            img(src="http://loscambialibri.it:21000/assets/logo.png", width="50", height="50")
            | LoScambialibri.it
        hr
        .center
            block title
            block body
        hr.footer
        .footer
            p
                a(href="http://www.loscambialibri.it/", target="_blank") LoScambialibri.it
                |  ® 2017-2018